:root {
    --main-color: #0f6de7;
    --black: #000000;
    --bg: #ecf009;
    --white: #fff;
    --border: 0.1rem solid rgb(228, 224, 30);
    font-size: 10px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--black);
}

img {
    max-width: 100%;
    height: auto;
    display: flex;
}

section {
    padding: 5rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background-color: rgba(133, 131, 131, 0.705);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.header section {
    display: flex;
    justify-content: center;
    padding-top: 2.7rem;
    padding-bottom: 2.7rem;
}

.navbar a {
    margin: 3rem;
    font-size: 2.5rem;
    color: #ffffff;
}

.navbar a:hover {
    color: var(--bg);
    border-bottom: 0.1rem solid var(--bg);
    padding-bottom: 0.5rem;
    font-size: 2.2rem;
}

/* BOTÃO */
.btn {
    background: var(--main-color);
    color: #ffffff;
    padding: 1rem 6rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
}

.btn:hover {
    letter-spacing: 0.2rem;
    background: #012a68;
}

/* HOME */
.home-container {
    min-height: 100vh;
    background: url("./img/fundo.png") center / cover no-repeat;
    background-size: cover;
    background-position: center;
}

.home-container section {
    min-height: 100vh;
    display: flex;
    margin-top: 89px;
}


.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* centraliza o container */
    padding: 0 20px;
    margin-top: 40px;
}

.content h1 {
    color: #fff;
    font-size: 3rem;
}

.content p {
    color: #fff;
    font-size: 2.3rem;
    margin: 1rem 0;
}

/* TITULOS */
.title {
    text-align: center;
    font-size: 3rem;
    color: var(--main-color);
    margin-bottom: 4rem;
}

.title span {
    color: #fff;
}

/* SOBRE */
.about .row {
    display: flex;
    gap: 2rem;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
}

.about .content h3 {
    font-size: 2.8rem;
    color: #fff;
}

.about .content p {
    font-size: 1.6rem;
    color: #fff;
}

/* AVALIAÇÕES */
.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}

.box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.box p,
.box h3 {
    color: #fff;
}

.user {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 1rem auto;
}

/* MAPA */
.address {
    text-align: center;
}

.address iframe {
    width: 100%;
    height: 450px;
    border: 0;
}

/* REDES */
.instagram {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram .icons-instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
}

.instagram .icons-instagram img {
    margin: 0.3rem;
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
}

.instagram .icons-instagram img:hover {
    background-color: var(--main-color);
}





/* RESPONSIVO */
@media (max-width: 768px) {
    .home-container {
        background-position: top center;
    }
}


@media (max-width: 768px) {
    .about .row {
        flex-direction: column;
        text-align: center;
    }

    .navbar a {
        font-size: 1.6rem;
        margin: 1rem;
    }

    .content h1 {
        font-size: 2rem;
    }

    .content p {
        font-size: 1.4rem;
    }
}

